# Created by .ignore support plugin (hsz.mobi)
#
# Secrets and whatnot
keys/
*tmp*

# IDE nonsense
.idea
.vscode

#### OS Temp files ####
# General
.swp
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# General Temp, Backup files
*~
nohup.out
*_BACKUP_*
*_BASE_*
*_LOCAL_*
*_REMOTE_*